In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv('../data/creditcard.csv')

In [5]:
data.columns, data.shape

(Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
        'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
        'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
        'Class'],
       dtype='object'), (284807, 31))

In [6]:
data.sample(n=3)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
20129,30801.0,-0.082221,0.552122,0.992445,0.699559,0.142957,0.242681,0.287352,0.162755,-0.735745,...,0.271741,0.794576,0.021622,-0.246787,-0.909798,0.698893,0.173472,0.177944,34.90,0
44384,41923.0,-1.075832,1.669017,1.359489,2.611637,0.007210,0.251294,0.075211,0.544285,-1.727528,...,-0.094098,-0.418010,0.137375,-0.029627,-0.360418,-0.057862,-0.031050,0.159386,2.65,0
10556,17482.0,-0.580267,0.983937,1.526568,1.203354,0.962154,1.997839,0.151589,0.630697,0.702159,...,-0.044963,0.586658,-0.072595,-1.051346,-0.384509,-0.180793,0.457190,0.176051,2.68,0

In [9]:
data.Time.min(), data.Time.max()

(0.0, 172792.0)

In [12]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [15]:
data = data.sort_values(by='Time')

In [21]:
tmp = np.array(data.Amount)

from sklearn.preprocessing import StandardScaler

tmp = StandardScaler().fit_transform(tmp.reshape(-1,1))

In [23]:
data['Amount']=tmp